<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %> </title>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <% include adminHeader %> 

    <% if(success != "") { %>
        <div class="alert alert-success">
          <strong>Success!</strong> <%= success %> 
         <% } %>
        </div>
<div class="container">
    <a class="btn btn-info" href="/admin/ViewProduct" >View Product</a>

  <h2 style="text-align: center;">Updute Product</h2>
  <div style=" text-align: center;">
  </div>
  <form class="form-inline" action="/admin/update-product/<%= productRecord._id %> " method="post"  enctype="multipart/form-data">

    <input type="hidden" name="id" value="<%= productRecord._id %> ">

    <div class="form-group">
      <input type="text" class="form-control" placeholder="Brand Name" name="brand" value="<%= productRecord.brand %>"  required>
    </div>

    <div class="form-group">
        <input type="text" class="form-control" placeholder="RAM" name="ram" value="<%= productRecord.ram %>" required>
    </div>

    <div class="form-group">
        <input type="text" class="form-control" placeholder="ROM" name="rom" value="<%= productRecord.rom %>" required>
    </div>

    <div class="form-group">
        <input type="text" class="form-control" placeholder="Rear Camera" name="rearcamera" value="<%= productRecord.rearcamera %>" required>
    </div>

    <div class="form-group">
        <input type="text" class="form-control" placeholder="Font Camera" name="fontcamera" value="<%= productRecord.fontcamera %>" required>
    </div>

    <div class="form-group">
        <input type="text" class="form-control" placeholder="Battery" name="battery" value="<%= productRecord.battery %>" required>
    </div>

    <!-- <div class="form-group">
        <input type="text" class="form-control" placeholder="Secreen Resolution" name="secreenResolution" required>
    </div> -->

    <div class="form-group">
        <input type="text" class="form-control" placeholder="Sim Support" name="simSupport" value="<%= productRecord.simSupport %>" required>
    </div>

    <div class="form-group">
        <input type="text" class="form-control" placeholder="Color" name="color" value="<%= productRecord.color %>" required>
    </div>

    <div class="form-group">
        <input type="text" class="form-control" placeholder="Operating System" name="operatingSystem" value="<%= productRecord.operatingSystem %>" required>
    </div>

    <div class="form-group">
        <input type="text" class="form-control" placeholder="Warranty" name="warranty" value="<%= productRecord.warranty %>" required>
    </div>

    <div class="form-group">
        <input type="text" class="form-control" placeholder="PTA" name="pta" value="<%= productRecord.pta %>" required>
    </div>

    <div class="form-group">
        <input type="text" class="form-control" placeholder="Price" name="price" value="<%= productRecord.price %>" required>
    </div>

    <div class="col-md-9">
        <select class="form-control" name="category" >
            <% categoryRecord.forEach(function(data){%>
            <option value="<%= data.name %>" <% if(data.name == productRecord.category) {%>selected<%}%>><%= data.name %></option>
            <% }) %>   
        </select>
    </div>

    <!-- <div class="form-group">
        <label for="icode" class="col-md-3 control-label" > Brand Image</label>
            <input type="file" class="form-control" value="<%= productRecord.images %>" name="file" multiple required>
    </div>  -->

    <br>
        <div class="col-md-offset-3 col-md-9">
         <input type="submit" name="submit" value="Updute Product" class="btn btn-primary">   
        </div>  
    </form>
</div>

</body>
</html>
